@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  color: var(--primary-color);
  min-height: 100vh;
  scroll-behavior: smooth;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}