.Wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  outline: none;
  background: none;
  padding-right: 10px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}